* {
  margin:0;
  padding:0;
  box-sizing: border-box;
} 

.iconleft {
  position:absolute;
  top:40px;
  left:40px;

}

.iconright {
  position:absolute;
  bottom:40px;
  right:40px;

}

.season-display {
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.Winter {
  background-color: lightblue;
}

.Summer {
  background-color: orange;
}

